<footer>
    <div class="row">
        <div class="col-md-2 mt-5">
            <ul>
                <li id="head">ABOUT</li>
                <li>Contact Us</li>
                <li>About Us</li>
                <li>Careers</li>
                <li>Pluskart Stories</li>
                <li>Press</li>
                <li>Pluskart Wholesale</li>
                <li>Corporation Information</li>
            </ul>
        </div>
        <div class="col-md-2  mt-5">
            <ul>
                <li id="head">HELP</li>
                <li>Payments</li>
                <li>Shipping</li>
                <li>Cancellation & Returns</li>
                <li>FAQ</li>
                <li>Report Infringement</li>
                <li>Pluskart Wholesale</li>
                <li>Corporation Information</li>
            </ul>
        </div>
        <div class="col-md-1 mt-5">
            <ul>
                <li id="head">POLICY</li>
                <li>Return Policy</li>
                <li>Terms of Use</li>
                <li>Security</li>
                <li>Privacy</li>
                <li>Sitemap</li>
                <li>ERP Compliance</li>
            </ul>
        </div>
        <div class="col-md-1 mt-5" id="social">
            <ul>
                <li id="head">SOCIAL</li>
                <li>Facebook</li>
                <li>Twitter</li>
                <li>Youtube</li>
            </ul>
        </div>
        <div class="col-md-1  mt-5" id="safe">

        </div>
        <div class="col-md-2  mt-5">
            <ul>
                <li id="head">Mail Us:</li>
                <li>Pluskart Internet Private Limited,

                    D-98 Dhana Niwas

                    Sec-50 (Dabua Colony) NIT

                    Faridabad, 121001,

                    Delhi, India</li>
            </ul>
        </div>
        <div class="col-md-2  mt-5">
            <ul>
                <li id="head">Registered Office Address:</li>
                <li>Pluskart Internet Private Limited,

                    D-98 Dhana Niwas

                    Sec-50 (Dabua Colony) NIT

                    Faridabad, 121001,

                    Delhi, India
                    Phone No.: 9811694732
                </li>
            </ul>
        </div>
        <hr>
        <div class="row mb-2">
            <h5 align="right">Copyright @Modernpk</h5>
        </div>
    </div>

</footer>

</body>

</html>